/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    height: 100%;
    --body-bg_headings-cl_buttons-cl: hsl(0, 0%, 95%);
    --sedans-bg_sedans-btn-txt: #e28525;
    --suvs-bg_suvs-btn-txt: #016972;
    --luxury-bg_luxury-btn-txt: #00403f;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--body-bg_headings-cl_buttons-cl);
}

main {
    display: flex;
    flex-direction: column;
    margin: 3em 0;
    width: 90%;
}

.sedans, .suvs, .luxury {
    padding: 3em;
    min-height: 300px;
}

.sedans {
    background: var(--sedans-bg_sedans-btn-txt);
    border-radius: 8px 8px 0 0;
}

.suvs {
    background: var(--suvs-bg_suvs-btn-txt);
}

.luxury {
    background: var(--luxury-bg_luxury-btn-txt);
    border-radius: 0 0 8px 8px;
}

.sedans h2, .suvs h2, .luxury h2 {
    margin: 1.3125em 0;
    font-family: "Big Shoulders Display", Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: var(--body-bg_headings-cl_buttons-cl);
    text-transform: uppercase;
}

.sedans p, .suvs p, .luxury p {
    font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
    font-size: 0.9375em;
    line-height: 1.6em;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}

.sedans button, .suvs button, .luxury button {
    margin-top: 5.525em;
    width: 9.25em;
    height: 3em;
    background: var(--body-bg_headings-cl_buttons-cl);
    border: none;
    border-radius: 1.5em;
}

.sedans button {
    color: var(--sedans-bg_sedans-btn-txt);
}

.suvs button {
    color: var(--suvs-bg_suvs-btn-txt);
}

.luxury button {
    color: var(--luxury-bg_luxury-btn-txt);
}

.sedans button:hover {
    border: 2px solid var(--body-bg_headings-cl_buttons-cl);
    background: var(--sedans-bg_sedans-btn-txt);
    color: var(--body-bg_headings-cl_buttons-cl);
    cursor: pointer;
    transition: background-color .7s;
}

.suvs button:hover {
    border: 2px solid var(--body-bg_headings-cl_buttons-cl);
    background: var(--suvs-bg_suvs-btn-txt);
    color: var(--body-bg_headings-cl_buttons-cl);
    cursor: pointer;
    transition: background-color .7s;
}

.luxury button:hover {
    border: 2px solid var(--body-bg_headings-cl_buttons-cl);
    background: var(--luxury-bg_luxury-btn-txt);
    color: var(--body-bg_headings-cl_buttons-cl);
    cursor: pointer;
    transition: background-color .7s;
}

@media (min-width: 375px){
    main {
        flex-direction: row;
        width: 61.3em;
    }

    .sedans {
        border-radius: 8px 0 0 8px;
    }

    .luxury {
        border-radius: 0 8px 8px 0;
    }

}
